*.s[ac]ss
*.css
!input.scss
!crates/static/_index.scss

# devops
/target
Cargo.lock
coverage
pkg
flamegraph.svg
perf*
dhat*
*.tar.gz

# editor specific
.idea
.vscode

# automation tools
*.py
*.sh
*.cmd
*.exe

# common Sass frameworks that may wish to live alongside grass for testing
susy
bulma*
bootstrap*
materialize
uikit
bourbon
foundation-sites
sassline
true
dart-sass
sass-fairy
duomo
ibm-cloud-cognitive
