[package]
name = "grass"
version = "0.9.5"
description = "A near-feature-complete Sass compiler written purely in Rust"
readme = "README.md"
license = "MIT"
categories = ["command-line-utilities", "web-programming"]
keywords = ["scss", "sass", "css", "web"]
repository = "https://github.com/connorskees/grass"
authors = ["ConnorSkees <39542938+ConnorSkees@users.noreply.github.com>"]
edition = "2018"
include = ["src", "Cargo.toml", "README.md", "CHANGELOG.md"]
default-run = "grass"

[[bin]]
name = "grass"
path = "src/main.rs"
required-features = ["commandline"]

[lib]
name = "grass"
path = "src/lib.rs"
# crate-type = ["cdylib", "rlib"]
bench = false

[[bench]]
path = "benches/variables.rs"
name = "variables"
harness = false

[[bench]]
path = "benches/colors.rs"
name = "colors"
harness = false

[[bench]]
path = "benches/numbers.rs"
name = "numbers"
harness = false

[[bench]]
path = "benches/control_flow.rs"
name = "control_flow"
harness = false

[[bench]]
path = "benches/styles.rs"
name = "styles"
harness = false


[dependencies]
clap = { version = "2.33.1", optional = true }
num-rational = "0.3.0"
num-bigint = "0.3.0"
num-traits = "0.2.12"
once_cell = "1.4.0"
rand = { version = "0.7.3", optional = true }
codemap = "0.1.3"
peekmore = "0.5.2"
wasm-bindgen = { version = "0.2.63", optional = true }
beef = "0.4.4"
# criterion is not a dev-dependency because it makes tests take too
# long to compile, and you cannot make dev-dependencies optional
criterion = { version = "0.3.2", optional = true }
indexmap = "1.4.0"
lasso = "0.2.0"

[features]
default = ["commandline", "random"]
# Option (enabled by default): build a binary using clap
commandline = ["clap"]
# Option: enable nightly-only features (for right now, only the `track_caller` attribute) 
nightly = []
# Option (enabled by default): enable the builtin functions `random([$limit])` and `unique-id()`
random = ["rand"]
# Option: compile to web assembly
wasm = ["wasm-bindgen"]
# Option: enable features that assist in profiling (e.g. inline(never))
profiling = []
# Option: enable criterion for benchmarking
bench = ["criterion"]

[dev-dependencies]
tempfile = "3.1.0"
paste = "0.1.18"

[profile.release]
debug = true
panic = "abort"
