a {
  color: hsla(222.2192777206995, 110.3692139794996, 61.81051067574404, 0.534401685087422);
  color: hsla(11.352992797547246, 74.664898057584, 6.382261199759358, 0.4874777440386838);
  color: hsla(132.425922219443, 29.256511738803592, 24.89540771728558, 0.5596738032089829);
  color: hsla(13.309525399907187, 30.18831771387657, 85.24254752668342, 0.5639756616594267);
  color: hsla(115.80418431138013, 138.80875075306716, 23.490066034361682, 0.9475768360338274);
  color: hsla(60.46239828401012, 10.313109482705745, 105.16963702630053, 0.6042021161827366);
  color: hsla(34.30938279662815, 1.889472112004964, 25.15291728283431, 0.9511924190787797);
  color: hsla(98.71285284443937, 23.776914475219797, 32.648612555008434, 0.977536897763227);
  color: hsla(102.10433890385715, 63.77885767681341, 16.646770070167822, 0.6574613239168576);
  color: hsla(57.92186087245385, 60.13034947932598, 68.54893513559583, 0.373803434079244);
  color: hsla(269.9538004245578, 52.78619311546282, 110.12893163260173, 0.576868671613627);
  color: hsla(156.9093802116642, 124.93331830547281, 19.561761686688804, 0.3974323561380795);
  color: hsla(19.511009502958405, 9.985975717432698, 1.7222436103076566, 0.6185271078002709);
  color: hsla(15.16885447767802, 65.20912769433798, 276.68448067449, 0.24252634099912806);
  color: hsla(104.5304367379402, 48.4396743669759, 87.36931435860792, 0.49110860679749657);
  color: hsla(1.23896746147205, 8.983910503200377, 40.0155021692319, 0.5083377501566763);
  color: hsla(115.17557319839848, 0.7026571842435614, 13.941266396527283, 0.2702835740499192);
  color: hsla(39.85503118282452, 132.112827958992, 10.699003040970583, 0.1682327962372605);
  color: hsla(6.928648113302179, 170.32675719792294, 8.03447559763514, 0.355029719268528);
  color: hsla(139.7730609176561, 168.9185250475494, 77.0568608336116, 0.20722154573547713);
  color: hsla(14.530537405142663, 15.039646435716925, 33.36286228624303, 0.667781746780932);
  color: hsla(8.919544897442268, 100.64466379531277, 76.11409137494536, 0.05256078867970626);
  color: hsla(2.495018335398737, 132.07029268437287, 27.340212426881667, 0.6728327813869602);
  color: hsla(194.07056581458647, 106.38402415451384, 71.26432187392453, 0.9217222550714675);
  color: hsla(192.1411495274188, 50.30798166678871, 57.471447627549466, 0.902530813592693);
}