a {
    color: mediumvioletred;
    color: burlywood;
    color: deeppink;
    color: lavenderblush;
    color: steelblue;
    color: lightslategray;
    color: palevioletred;
    color: rosybrown;
    color: whitesmoke;
    color: navy;
    color: blue;
    color: darkolivegreen;
    color: transparent;
    color: black;
    color: lightskyblue;
    color: sandybrown;
    color: darkturquoise;
    color: darkorange;
    color: tan;
    color: tomato;
    color: lightgray;
    color: seagreen;
    color: cadetblue;
    color: crimson;
    color: darksalmon;
    color: mediumpurple;
    color: mistyrose;
    color: cornflowerblue;
    color: gray;
    color: lightyellow;
    color: purple;
    color: darkred;
    color: mediumturquoise;
    color: rosybrown;
    color: sandybrown;
    color: mediumblue;
    color: darkgoldenrod;
    color: lightgreen;
    color: aquamarine;
    color: linen;
    color: pink;
    color: oldlace;
    color: lightgoldenrodyellow;
    color: chocolate;
    color: lightblue;
    color: mediumseagreen;
    color: honeydew;
    color: powderblue;
    color: floralwhite;
    color: royalblue;
    color: greenyellow;
    color: lightyellow;
    color: beige;
    color: thistle;
    color: dodgerblue;
    color: navajowhite;
    color: lightseagreen;
    color: saddlebrown;
    color: moccasin;
    color: turquoise;
    color: purple;
    color: darkgray;
    color: thistle;
    color: mistyrose;
    color: salmon;
    color: palegoldenrod;
    color: white;
    color: cornflowerblue;
    color: lightyellow;
    color: snow;
    color: aqua;
    color: indianred;
    color: lightyellow;
    color: darkkhaki;
    color: aqua;
    color: darkviolet;
    color: powderblue;
    color: darkblue;
    color: papayawhip;
    color: hotpink;
    color: chocolate;
    color: mediumaquamarine;
    color: lightskyblue;
    color: mediumvioletred;
    color: white;
    color: lightgreen;
    color: palevioletred;
    color: antiquewhite;
    color: indianred;
    color: darkgreen;
    color: darkmagenta;
    color: darkviolet;
    color: snow;
    color: lightgoldenrodyellow;
    color: darksalmon;
    color: royalblue;
    color: cornsilk;
    color: deepskyblue;
    color: lightseagreen;
    color: skyblue;
    color: mediumblue;
    color: azure;
    color: firebrick;
    color: turquoise;
    color: plum;
    color: aqua;
    color: chocolate;
    color: lightyellow;
    color: coral;
    color: darkseagreen;
    color: antiquewhite;
    color: cornflowerblue;
    color: chartreuse;
    color: darkcyan;
    color: snow;
    color: honeydew;
    color: tomato;
    color: darkturquoise;
    color: papayawhip;
    color: lightskyblue;
    color: honeydew;
    color: cornflowerblue;
    color: darkgray;
    color: mediumseagreen;
    color: thistle;
    color: darkgoldenrod;
    color: forestgreen;
    color: black;
    color: cornflowerblue;
    color: blanchedalmond;
    color: aliceblue;
    color: mediumblue;
    color: blueviolet;
    color: coral;
    color: dodgerblue;
    color: whitesmoke;
    color: yellow;
    color: burlywood;
    color: whitesmoke;
    color: bisque;
    color: palegreen;
    color: darkblue;
    color: fuchsia;
    color: darkviolet;
    color: orangered;
    color: thistle;
    color: darkkhaki;
    color: mediumpurple;
    color: lightslategray;
    color: wheat;
    color: brown;
    color: oldlace;
    color: mintcream;
    color: ivory;
    color: gold;
    color: forestgreen;
    color: black;
    color: darkorchid;
    color: springgreen;
    color: mediumvioletred;
    color: navajowhite;
    color: aquamarine;
    color: crimson;
    color: dodgerblue;
    color: slateblue;
    color: lawngreen;
    color: lightgray;
    color: peachpuff;
    color: lightgreen;
    color: yellow;
    color: gold;
    color: silver;
    color: lightblue;
    color: bisque;
    color: mediumorchid;
    color: violet;
    color: darkturquoise;
    color: steelblue;
    color: black;
    color: palegoldenrod;
    color: gray;
    color: khaki;
    color: linen;
    color: purple;
    color: skyblue;
    color: beige;
    color: ghostwhite;
    color: saddlebrown;
    color: yellow;
    color: dimgray;
    color: floralwhite;
    color: lightgray;
    color: powderblue;
    color: aquamarine;
    color: black;
    color: lightgray;
    color: olive;
    color: darkkhaki;
    color: darkmagenta;
    color: darkturquoise;
    color: ghostwhite;
    color: turquoise;
    color: blue;
    color: darkorange;
    color: oldlace;
    color: saddlebrown;
    color: lightcoral;
    color: fuchsia;
    color: olivedrab;
    color: seagreen;
    color: dodgerblue;
    color: ghostwhite;
    color: antiquewhite;
    color: indianred;
    color: honeydew;
    color: antiquewhite;
    color: darkorchid;
    color: gainsboro;
    color: whitesmoke;
    color: hotpink;
    color: indianred;
    color: lightgoldenrodyellow;
    color: mintcream;
    color: peachpuff;
    color: goldenrod;
    color: orangered;
    color: skyblue;
    color: plum;
    color: slateblue;
    color: mediumslateblue;
    color: olivedrab;
    color: indigo;
    color: lightgoldenrodyellow;
    color: red;
    color: lemonchiffon;
    color: bisque;
    color: crimson;
    color: cadetblue;
    color: mediumblue;
    color: orange;
    color: darkslateblue;
    color: olivedrab;
    color: violet;
    color: mediumspringgreen;
    color: indigo;
    color: moccasin;
    color: lightpink;
    color: deepskyblue;
    color: oldlace;
    color: lightsalmon;
    color: mediumturquoise;
    color: darksalmon;
    color: darkblue;
    color: dimgray;
    color: blanchedalmond;
    color: mediumturquoise;
    color: black;
    color: peachpuff;
    color: olivedrab;
    color: darkgreen;
    color: white;
    color: paleturquoise;
    color: aliceblue;
    color: limegreen;
    color: darkslateblue;
    color: skyblue;
    color: darksalmon;
    color: salmon;
    color: darkcyan;
    color: pink;
    color: saddlebrown;
    color: blue;
    color: blue;
    color: papayawhip;
    color: mediumvioletred;
    color: darksalmon;
    color: darkolivegreen;
    color: yellowgreen;
    color: wheat;
    color: darkslategray;
    color: purple;
    color: red;
    color: mistyrose;
    color: palegreen;
    color: cornflowerblue;
    color: seashell;
    color: mediumpurple;
    color: darkslateblue;
    color: honeydew;
    color: chocolate;
    color: ivory;
    color: mediumslateblue;
    color: darkturquoise;
    color: navajowhite;
    color: red;
    color: sienna;
    color: gray;
    color: cadetblue;
    color: silver;
    color: burlywood;
    color: cornflowerblue;
    color: palegoldenrod;
    color: yellow;
    color: chocolate;
    color: darkseagreen;
    color: lightpink;
    color: chocolate;
    color: tomato;
    color: thistle;
    color: tomato;
    color: whitesmoke;
    color: indianred;
    color: lightgreen;
    color: peru;
    color: orange;
    color: palegoldenrod;
    color: darkkhaki;
    color: olive;
    color: chocolate;
    color: gainsboro;
    color: chocolate;
    color: oldlace;
    color: royalblue;
    color: dodgerblue;
    color: darkmagenta;
    color: saddlebrown;
    color: beige;
    color: floralwhite;
    color: aliceblue;
    color: aquamarine;
    color: mintcream;
    color: mintcream;
    color: palegreen;
    color: yellow;
    color: lightsteelblue;
    color: salmon;
    color: darkviolet;
    color: whitesmoke;
    color: salmon;
    color: violet;
    color: aliceblue;
    color: mediumspringgreen;
    color: firebrick;
    color: goldenrod;
    color: gold;
    color: honeydew;
    color: lawngreen;
    color: azure;
    color: ghostwhite;
    color: lightsalmon;
    color: oldlace;
    color: lime;
    color: indigo;
    color: saddlebrown;
    color: mediumaquamarine;
    color: rosybrown;
    color: gray;
    color: seashell;
    color: midnightblue;
    color: slateblue;
    color: snow;
    color: wheat;
    color: indigo;
    color: tomato;
    color: lightyellow;
    color: cornflowerblue;
    color: lightgray;
    color: slategray;
    color: steelblue;
    color: skyblue;
    color: oldlace;
    color: darkseagreen;
    color: lawngreen;
    color: gainsboro;
    color: aquamarine;
    color: snow;
    color: royalblue;
    color: dimgray;
    color: orangered;
    color: forestgreen;
    color: honeydew;
    color: darksalmon;
    color: chartreuse;
    color: mediumblue;
    color: mediumpurple;
    color: lightyellow;
    color: deeppink;
    color: darkgreen;
    color: peachpuff;
    color: mintcream;
    color: mediumblue;
    color: sandybrown;
    color: green;
    color: darkolivegreen;
    color: crimson;
    color: darkslateblue;
    color: rosybrown;
    color: blueviolet;
    color: darkgray;
    color: transparent;
    color: darkslategray;
    color: lightcyan;
    color: honeydew;
    color: teal;
    color: brown;
    color: darkorchid;
    color: fuchsia;
    color: lime;
    color: mediumpurple;
    color: darkorange;
    color: midnightblue;
    color: mediumvioletred;
    color: limegreen;
    color: lightseagreen;
    color: mistyrose;
    color: burlywood;
    color: wheat;
    color: maroon;
    color: darkgoldenrod;
    color: hotpink;
    color: lightskyblue;
    color: darkgreen;
    color: yellowgreen;
    color: mintcream;
    color: navy;
    color: oldlace;
    color: papayawhip;
    color: powderblue;
    color: lightskyblue;
    color: lightyellow;
    color: yellowgreen;
    color: deepskyblue;
    color: purple;
    color: lemonchiffon;
    color: darkgoldenrod;
    color: lightskyblue;
    color: salmon;
    color: snow;
    color: darkgoldenrod;
    color: azure;
    color: lightpink;
    color: bisque;
    color: palegreen;
    color: darkviolet;
    color: slateblue;
    color: blue;
    color: orchid;
    color: ghostwhite;
    color: lavender;
    color: lavenderblush;
    color: cornsilk;
    color: teal;
    color: lightcyan;
    color: darkslategray;
    color: powderblue;
    color: lightyellow;
    color: powderblue;
    color: bisque;
    color: tomato;
    color: ghostwhite;
    color: papayawhip;
    color: thistle;
    color: firebrick;
    color: mediumspringgreen;
    color: darkkhaki;
    color: indigo;
    color: azure;
    color: chartreuse;
    color: whitesmoke;
    color: forestgreen;
    color: darkorange;
    color: darkslategray;
    color: honeydew;
    color: dodgerblue;
    color: skyblue;
    color: mediumspringgreen;
    color: olivedrab;
    color: greenyellow;
    color: wheat;
    color: seagreen;
    color: crimson;
    color: lavender;
    color: steelblue;
    color: aliceblue;
    color: chartreuse;
    color: orangered;
    color: transparent;
    color: dimgray;
    color: palegreen;
    color: forestgreen;
    color: mediumorchid;
    color: darkorchid;
    color: pink;
    color: aliceblue;
    color: greenyellow;
    color: darkslategray;
    color: paleturquoise;
    color: lightslategray;
    color: darkturquoise;
    color: sandybrown;
}